/* setup ------------------------------------------------ */
:root {
  --p-bright-purple: rgb(138, 43, 226);
  --p-blue: rgb(65, 126, 176);
  --p-white: rgb(255, 255, 255);
  --p-black: rgb(0, 0, 0);

  --f-gray: rgb(82, 82, 82);
  --bb-gray: rgb(156, 156, 156);
}

* {
  font-family: "Manrope", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--f-gray);
}

body {
  overflow: hidden;
}

ul {
  list-style: none;
}

#app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* footer ----------------------------------------------- */
.top-footer {
  border-bottom: 1px solid var(--bb-gray);
  padding: 0.5em;
  display: grid;
  place-items: center;
}

.top-footer span {
  font-weight: 900;
  color: var(--p-bright-purple);
  cursor: pointer;
}

/* navigation ------------------------------------------- */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

ul button {
  padding: 0.6em 1.2em;
  border: none;
  background-color: var(--p-bright-purple);
  color: var(--p-white);
  border-radius: 7px;
  font-weight: 900;
  cursor: pointer;
}

ul li {
  cursor: pointer;
}

/* main section ----------------------------------------- */
.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  padding-top: 7em;
}

.main h1 {
  font-size: 4rem;
  text-align: center;
  font-weight: 900;
}

.title--1,
.title--2 {
  color: var(--p-black);
}

.title--3 {
  color: var(--p-bright-purple);
}

.description {
  text-align: center;
  max-width: 34ch;
  font-weight: 400;
  color: var(--f-gray);
}

.quote {
  padding: 0.6em 1.2em;
  border: none;
  background-color: white;
  color: var(--p-bright-purple);
  border-bottom: 2px solid var(--p-bright-purple);
  border-radius: 5px;
  font-weight: 900;
  cursor: pointer;
}

.experts {
  color: var(--p-blue);
  font-size: 0.8rem;
  text-transform: uppercase;
  word-spacing: 5px;
}

.experts-logos {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.experts-logos img {
  cursor: pointer;
}

/* hover underline effect ------------------------------- */
.hover-underline {
  position: relative;
}

.hover-underline::after {
  content: "";
  position: absolute;
  top: 1.2rem;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--p-bright-purple);
  transition: width 350ms;
}

.hover-underline:hover::after {
  width: 100%;
}

/* rotating blob ---------------------------------------- */
@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  height: 50rem;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: blur(12rem);
  background: linear-gradient(to right, rgb(127, 255, 212), rgb(138, 43, 226));
  z-index: -1;
  animation: rotate 20s infinite;
  overflow: hidden;
}
